#tree-card {
    bottom: 0;
    overflow-y: auto;
    width: 100%;
}

#tree-card-breadcrumbs {
    height: 60px;
    flex: 1;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
}

.current {
    background-color: #272A2F;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #5e6475;
}

.current > .save {
    background: #7bc876;
    border: 0;
    border-radius: 3px;
    color: #272a2f;
    font-weight: 600;
    margin: 10px;
    padding: 10px 15px;
}

#tree-card-issues {
    text-align: left;
    list-style: none;
    margin: 0;
}

#tree-card-issues > li {
    cursor: pointer;
    line-height: 2em;
    /*width: 100%;*/
    padding: 10px 25px 10px 43px;
    position: relative;
}

#tree-card-issues > li:hover, #tree-card-issues > .hovered {
    background-color: #4d5967;
    
}

.select {
  display: inline-block;
  padding-left: 0;
  text-align: left;
}

.select > .button.breadcrumbs {
  width: auto;
}
